<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sweak.teacherhelper">

    <application
        android:allowBackup="true"
        android:name=".TeacherHelperApplication"
        android:icon="@mipmap/teacher_helper_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeacherNotebook" >
        <activity
            android:name=".features.main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TeacherNotebook.NoActionBar"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.addedit.AddEditGroupActivity"
            android:parentActivityName=".features.main.MainActivity" />
        <activity
            android:name=".features.addedit.AddEditScheduleActivity"
            android:parentActivityName=".features.main.MainActivity" />
        <activity
            android:name=".features.addedit.AddEditNoteActivity"
            android:parentActivityName=".features.main.MainActivity" />
        <activity
            android:name=".features.student.StudentActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".features.main.MainActivity" />
        <activity
            android:name=".features.addedit.AddEditStudentActivity"
            android:parentActivityName=".features.student.StudentActivity" />
        <activity
            android:name=".features.studentcontrol.StudentControlActivity"
            android:parentActivityName=".features.student.StudentActivity" />
        <activity
            android:name=".features.studentactivities.StudentActivitiesActivity"
            android:parentActivityName=".features.student.StudentActivity"/>
    </application>

</manifest>